# Created by https://www.toptal.com/developers/gitignore/api/terraform,helm
# Edit at https://www.toptal.com/developers/gitignore?templates=terraform,helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

### Private files ###
.cert/
