ipam:
  mode: kubernetes
encryption:
  enabled: true
  type: wireguard
  nodeEncryption: true
socketLB:
  # Hassle: This option is needed for some of the more advanced Linkerd features to work
  # transparently with Cilium (EWMA load balancing, dynamic request routing).
  # See: https://linkerd.io/2.14/reference/cluster-configuration/#cilium
  hostNamespaceOnly: true
l2announcements:
  enabled: true
hubble:
  relay:
    enabled: true
  ui:
    enabled: true

kubeProxyReplacement: true
k8sServiceHost: loom-dev-control-plane
k8sServicePort: 6443
